[MASTER]
# Include the pylint_django plugin to avoid spurious warnings about Django patterns
load-plugins=pylint_django

# Don't cache data for later comparisons
persistent=no

[BASIC]
# Don't require docstrings for inner Meta classes (or private classes starting with _)
no-docstring-rgx=^(_|Meta$)
# Allow "ot" (OnboardingTask instance) as an acceptable variable name
good-names=ot,

[MISCELLANEOUS]
# Don't currently throw warnings for TODO comments - we should eventually remove this
notes=FIXME,XXX,

[MESSAGE CONTROL]
# Disabled due to contention with Black: bad-continuation, line-too-long
# Disabled due to noise: too-few-public-methods, too-many-ancestors, too-many-instance-attributes
disable=bad-continuation,
  line-too-long,
  too-few-public-methods,
  too-many-ancestors,
  too-many-instance-attributes,
  duplicate-code
