{% extends 'base.html' %}
{% load helpers %}
{% load static %}

{% block header %}
    <div class="row noprint">
        <div class="col">
            <ol class="breadcrumb">
                <li><a href="{% url 'plugins:netbox_onboarding:onboardingtask_list' %}">Onboarding tasks</a></li>
                <li>{{ object.pk }}</li>
            </ol>
        </div>
    </div>

    <h1>{% block title %}Device: {{ object.ip_address }}{% endblock %}</h1>

    <ul class="nav nav-tabs">
        <li role="presentation"{% if not active_tab %} class="active"{% endif %}>
            <a href="{{ object.get_absolute_url }}">Onboarding Task</a>
        </li>
        {% if perms.extras.view_objectchange %}
            <li role="presentation"{% if active_tab == 'changelog' %} class="active"{% endif %}>
                <a href="{% url 'plugins:netbox_onboarding:onboardingtask_changelog' pk=object.pk %}">Change Log</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Onboarding Task</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Created Device</td>
                    <td>{{ object.created_device|placeholder }}</td>
                </tr>
                <tr>
                    <td>IP Address</td>
                    <td>{{ object.ip_address|placeholder }}</td>
                </tr>
                <tr>
                    <td>Port</td>
                    <td>{{ object.port|placeholder }}</td>
                </tr>
                <tr>
                    <td>Timeout</td>
                    <td>{{ object.timeout|placeholder }}</td>
                </tr>
                <tr>
                    <td>Site</td>
                    <td>{{ object.site|placeholder }}</td>
                </tr>
                <tr>
                    <td>Role</td>
                    <td>{{ object.role|placeholder }}</td>
                </tr>
                <tr>
                    <td>Device Type</td>
                    <td>{{ object.device_type|placeholder }}</td>
                </tr>
                <tr>
                    <td>Platform</td>
                    <td>{{ object.platform|placeholder }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ object.status|placeholder }}</td>
                </tr>
                <tr>
                    <td>Failed Reason</td>
                    <td>{{ object.failed_reason|placeholder }}</td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td>{{ object.message|placeholder }}</td>
                </tr>
                <tr>
                    <td>Created</td>
                    <td>{{ object.created|placeholder }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/graphs.js' %}?v{{ settings.VERSION }}"></script>
{% endblock %}
